<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="<%= themeColor %>" />
  <meta name="author" content="<%= author %>" />
  <meta name ="description" content="<%= description %>" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:image" content="<%= ogImage %>" />
  <title><%= title %></title>
</head>
<body>
<noscript>Для запуска приложения нужно включить JavaScript.</noscript>
<div id="app"></div>
</body>
</html>
