<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="<%= themeColor %>" />
  <meta name="author" content="<%= author %>" />
  <meta name ="description" content="<%= description %>" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Facebook Meta Tags -->
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:image" content="<%= ogImage %>" />
  <meta property="og:url" content="https://box-shadow.ru/">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= description %>">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="box-shadow.ru">
  <meta property="twitter:url" content="https://box-shadow.ru/">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= ogImage %>">
  <meta property="og:image" content="<%= ogImage %>">

  <title><%= title %></title>
</head>
<body>
<noscript>Для запуска приложения нужно включить JavaScript.</noscript>
<div id="app"></div>
</body>
</html>
