.settingsItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.settingsItem input[type=range] {
    width: 100%;
}

.settingsItem input[type=checkbox] {
    margin-left: -34px;
}

.settingsItem input[type=number] {
    width: 100%;
    max-width: 6ch;
    margin-left: 1rem;
    padding: 0 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.settingsItem input[type=text] {
    width: 100%;
    max-width: 8ch;
    margin-left: 1rem;
}

.settingsItem label {
    margin-right: 1rem;
    margin-bottom: 0;
    width: 140px;
}

.settingsItem .colorPicker {
    align-items: flex-end;
}

.picker {
    font-family: inherit !important;
}

code {
    padding: 30px 15px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    background: #f6f6f6;
    border-radius: 5px;
    width: 100%;
}

.bs-example-wrapper {
    margin-bottom: 60px;
    display: flex;
}

.bs-example {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border: 1px solid #e5e5e5;
}

.value::after{
    content: '€';
    margin-left: 5px;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #999;
    border-radius: 5px;
    width: 100%;
    height: 1px;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.1);
}
